html{
    background-image: url(img/fundo.png.jpg);
    background-size: cover;
}



img {
    width: 100%;
    max-width: 300px;
}
.navbar {
    background-color: transparent;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
}
.navbar-item, .navbar-link {
   color: #9c9a9a;
   font-weight: bold;
}
footer {
    width: auto;
    height: 10px;
    margin-top: 600px;
    background-color: transparent;
}
.footer {
    background-color: transparent;
    padding: 3rem 1.5rem 6rem;
    color: black;
}

