body{
       margin: 0%;
        
}

#container{
    width: 100vw;
    height: 100vh;
    background-color: red;
    background-image: url(img/fundo.png);
    background-size: cover;
}
.content{
    margin-left: 100px;
    

}
figure{
    margin-left: 100px;
    margin-top: 70px;
}
.media-content{
    margin-top: 70px;
}